---
layout: default
title: Team
order: 5
extra_css:
- committee.css

committee:
- 
  name: Gavin Douch
  title: President & ACSA President
  image: gavinDouch.jpg
  email: president@wired.org.au
- 
  name: Vibhas Kamal
  title: Vice President
  image: vibhasKamal.jpg
  email: vicepresident@wired.org.au
- 
  name: Kanako Bouyer
  title: Secretary
  image: kanakoBouyer.jpg
  email: secretary@wired.org.au
- 
  name: Aaron Chao
  title: Treasurer
  image: aaronChao.jpg
  email: treasurer@wired.org.au
- 
  name: Keaton Tang
  title: General Representative
  image: keatonTang.jpg
  email: genreps@wired.org.au
- 
  name: Ryhan Joshi
  title: General Representative
  image: ryhanJoshi.jpg
  email: genreps@wired.org.au

industry:
-
  name: Scott Yip
  title: Industry Director
  image: scottYip.png
  email: ind.director@wired.org.au
-
  name: Jonathan Lopez
  title: Industry Secretary
  image: jonathanLopez.jpg
  email: ind.secretary@wired.org.au
-
  name: Maureen Priscilla Rusli
  title: Sponsorship Officer
  image: maureenPriscillaRusli.jpg
  email: sponsorship@wired.org.au
-
  name: Darcy Myring
  title: Careers Officer
  image: darcyMyring.png
  email: careers.officer@wired.org.au

mcpc:
- 
  name: Jackson Goerner
  title: President & Secretary
  image: jacksonGoerner.jpg
- 
  name: Ali Toosi
  title: Vice President
  image: aliToosi.jpg
- 
  name: Amin Sakzad
  title: Treasurer
  image: aminSakzad.png
---
<h2>Committee</h2>
<div class="committee-grid">
  {% for member in page.committee %}
    <div class="committee-card">
      <img class="committee-image" src="assets/images/committee/{{ member.image }}" height=320 width="240" alt="{{ member.name }}: {{ member.title }}">
      <div class="committee-text">
        <a href="mailto:{{ member.email }}">
          <h4 class="committee-name">{{ member.name }}</h4>
        </a>
        <span class="committee-title">{{ member.title }}</span>
      </div>
    </div>
  {% endfor %}
</div>
<p>Governed by the <a href="{{ '/assets/docs/constitution.pdf' | relative_url }}">Constitution</a>.</p>

<h2>Industry Subcommittee</h2>
<div class="committee-grid">
  {% for member in page.industry %}
    <div class="committee-card">
      <img class="committee-image" src="assets/images/committee/{{ member.image }}" height=320 width="240" alt="{{ member.name }}: {{ member.title }}">
      <div class="committee-text">
        <a href="mailto:{{ member.email }}">
          <h4 class="committee-name">{{ member.name }}</h4>
        </a>
        <span class="committee-title">{{ member.title }}</span>
      </div>
    </div>
  {% endfor %}
</div>
<p>Governed by the <a href="{{ '/assets/docs/indSubToR.pdf' | relative_url }}">IndSub ToR</a>.</p>

<h2><a href="https://blog.monashicpc.com">MCPC Executive Team</a></h2>
<div class="committee-grid">
  {% for member in page.mcpc %}
    <div class="committee-card">
      <img class="committee-image" src="assets/images/committee/{{ member.image }}" height=320 width="240" alt="{{ member.name }}: {{ member.title }}">
      <div class="committee-text">
        <h4 class="committee-name">{{ member.name }}</h4>
        <span class="committee-title">{{ member.title }}</span>
      </div>
    </div>
  {% endfor %}
</div>
<p>Governed by the <a href="https://blog.monashicpc.com/constitution/">MCPC Constitution</a>.</p>

<h2>Publications Subcommittee</h2>
<div>Currently recruiting.</div>
<p>Governed by the <a href="{{ '/assets/docs/pubSubToR.pdf' | relative_url }}">PubSub ToR</a>.</p>

<h2>Education Subcommittee</h2>
<div>Currently recruiting.</div>
<p>Governed by the <a href="{{ '/assets/docs/eduSubToR.pdf' | relative_url }}">EduSub ToR</a>.</p>

<h2>Events Subcommittee</h2>
<div>Currently recruiting.</div>
<p>Governed by the <a href="{{ '/assets/docs/eveSubToR.pdf' | relative_url }}">EveSub ToR</a>.</p>

<h2>Malaysian Chapter</h2>
<div>Currently recruiting.</div>
<p>Governed by the <a href="{{ '/assets/docs/malaysiaCharter.pdf' | relative_url }}">Malaysia Charter</a>.</p>