---
layout: default
title: Team
order: 5
extra_css:
- committee.css

committee:
- 
  name: Gavin Douch
  title: President & ACSA President
  image: Gavin_Douch.jpg
- 
  name: Vibhas Kamal
  title: Vice President
  image: Vibhas_Kamal.jpg
- 
  name: Kanako Bouyer
  title: Secretary
  image: Kanako_Bouyer.jpg
- 
  name: Aaron Chao
  title: Treasurer
  image: Aaron_Chao.png
- 
  name: Keaton Tang
  title: General Representative
  image: Keaton_Tang.jpg
- 
  name: Ryhan Joshi
  title: General Representative
  image: Ryhan_Joshi.jpg
  
mcpc:
- 
  name: Jackson Goerner
  title: President & Secretary
  image: Jackson_Goerner.jpg
- 
  name: Ali Toosi
  title: Vice President
  image: Ali_Toosi.jpg
- 
  name: Amin Sakzad
  title: Treasurer
  image: Amin_Sakzad.png
---
<h2>Committee</h2>

<div class="committee-grid">
    {% for member in page.committee %}
    <div class="committee-card">
      <img class="committee-image" src="assets/images/committee/{{ member.image }}" height=320 width="240" alt="{{ member.name }}: {{ member.title }}">
      <div class="committee-text">
        <h4 class="committee-name">{{ member.name }}</h4>
        <span class="committee-title">{{ member.title }}</span>
      </div>
    </div>
    {% endfor %}
</div>



<h3>Education Subcommittee</h2>

<div>
    Currently recruiting
</div>

<h3>Events Subcommittee</h2>

<div>
    Currently recruiting
</div>

<h3>Industry Subcommittee</h2>

<div>
    Currently recruiting
</div>

<h3>Publications Subcommittee</h2>

<div>
    Currently recruiting
</div>

<h2>Malaysian Chapter</h2>

<div>
    Currently recruiting
</div>

<h2>MCPC</h2>

<div class="committee-grid">
  {% for member in page.mcpc %}
  <div class="committee-card">
    <img class="committee-image" src="assets/images/committee/{{ member.image }}" height=320 width="240" alt="{{ member.name }}: {{ member.title }}">
    <div class="committee-text">
      <h4 class="committee-name">{{ member.name }}</h4>
      <span class="committee-title">{{ member.title }}</span>
    </div>
  </div>
  {% endfor %}
</div>
