---
layout: default
title: Sponsors
order: 4
extra_css:
- sponsors.css

gold_sponsors:
silver_sponsors: 
  - 
    image: atlassian.png
    name: Atlassian
    url: "https://atlassian.com"
  - 
    image: fit.jpg
    name: "Faculty of Information Technology"
    url: "https://www.monash.edu/it"
bronze_sponsors:
  - 
    image: optiver.png
    name: Optiver
    url: "https://www.optiver.com"
bespoke_sponsors:
  -
    image: careerConnect.png
    name: Monash Career Connect
    url: "https://www.monash.edu/career-connect"
---
<h2>Platinum</h2>
<a href="https://reecetech.com.au/" rel="noreferrer" target="_blank"><img alt="reecetech" src="assets/images/sponsors/platinum/reecetech.png"/></a>
<!--{% include sponsor_level.html level='Gold' sponsors=page.gold_sponsors %}-->
{% include sponsor_level.html level='Silver' sponsors=page.silver_sponsors %}
{% include sponsor_level.html level='Bronze' sponsors=page.bronze_sponsors %}
{% include sponsor_level.html level='Bespoke' sponsors=page.bespoke_sponsors %}