---
layout: default
title: Sponsors
order: 4
extra_css:
- sponsors.css

gold_sponsors: 
  - 
    image: assets/images/sponsors/gold/imc.png
    name: IMC
    url: "https://careers.imc.com/ap/en"
  - 
    image: assets/images/sponsors/gold/coles.png
    name: Coles
    url: "https://careers.colesgroup.com.au/"
  - 
    image: assets/images/sponsors/gold/rea-group.png
    name: "REA Group"
    url: "https://www.rea-group.com/careers/"
  - 
    image: assets/images/sponsors/gold/carsales.jpg
    name: carsales.com.au
    url: "https://www.carsales.com.au/work-with-us"
silver_sponsors: 
  - 
    image: assets/images/sponsors/silver/readygrad.svg
    name: Readygrad
    url: "https://www.readygrad.com.au/"
  - 
    image: assets/images/sponsors/silver/jane-street.png
    name: "Jane Street"
    url: "https://www.janestreet.com/join-jane-street/"
  - 
    image: assets/images/sponsors/silver/atlassian.png
    name: Atlassian
    url: "https://www.atlassian.com/company/careers"
  - 
    image: assets/images/sponsors/silver/accenture.png
    name: Accenture
    url: "https://www.accenture.com/au-en/careers"
bronze_sponsors: 
  - 
    image: assets/images/sponsors/bronze/facebook.png
    name: Facebook
    url: "https://www.facebook.com/careers/"
  - 
    image: assets/images/sponsors/bronze/bosch.png
    name: Bosch
    url: "https://www.bosch.com.au/careers/why-bosch/"
  - 
    image: assets/images/sponsors/bronze/bcg.png
    name: BCG
    url: "https://www.bcg.com/en-au/careers/students"
---
<h2>Platinum</h2>
<a href="https://reecetech.com.au/" rel="noreferrer" target="_blank"><img alt="reecetech" src="assets/images/sponsors/platinum/reecetech.png"/></a>
<p>
  Reece is an Australian story of innovation, growth and success. You probably know us as Australia’s largest
  supplier of plumbing and bathroom products. We have been around for almost 100 years, and building on our
  success in Australia we have recently planted our flag in the USA. As of today we employ over 8,000 people
  across 800 locations in Australia, New Zealand and the US.
</p>
<p>
  <b>reecetech</b> is the technology group within Reece, with
  over 180 team members working on everything from digital products for our customers and staff, to core
  transaction systems that process billions of dollars a year in sales, to data engineering and infrastructure.
  Our aim is to have a world-class, in-house technology capability that will underpin the next chapter of our
  success over the next 15 years. And you can be a part of it!
</p>
{% include sponsor_level.html level='Gold' sponsors=page.gold_sponsors %}
{% include sponsor_level.html level='Silver' sponsors=page.silver_sponsors %}
{% include sponsor_level.html level='Bronze' sponsors=page.bronze_sponsors %}
