---
layout: default
title: Sponsors
gold_sponsors:
- {
image: assets/images/sponsors/gold/imc.png,
name: IMC
}
- {
image: assets/images/sponsors/gold/coles.png,
name: Coles
}
- {
image: assets/images/sponsors/gold/rea-group.png,
name: REA Group
}
- {
image: assets/images/sponsors/gold/carsales.jpg,
name: carsales.com.au
}
silver_sponsors:
- {
image: assets/images/sponsors/silver/readygrad.svg,
name: Readygrad
}
- {
image: assets/images/sponsors/silver/jane-street.png,
name: Jane Street
}
- {
image: assets/images/sponsors/silver/atlassian.png,
name: Atlassian
}
- {
image: assets/images/sponsors/silver/accenture.png,
name: Accenture
}
bronze_sponsors:
- {
image: assets/images/sponsors/bronze/facebook.png,
name: Facebook
}
- {
image: assets/images/sponsors/bronze/bosch.png,
name: Bosch
}
- {
image: assets/images/sponsors/bronze/bcg.png,
name: BCG
}
---
<div id="contentBoxSecondary">
	<h2>Platinum</h2>
	<img style="height: 50px;" src="assets/images/sponsors/platinum/reecetech.png" alt="reecetech" />
	<p>Reece is an Australian story of innovation, growth and success. You probably know us as Australia’s largest
		supplier of plumbing and bathroom products. We have been around for almost 100 years, and building on our
		success in Australia we have recently planted our flag in the USA. As of today we employ over 8,000 people
		across 800 locations in Australia, New Zealand and the US. reecetech is the technology group within Reece, with
		over 180 team members working on everything from digital products for our customers and staff, to core
		transaction systems that process billions of dollars a year in sales, to data engineering and infrastructure.
		Our aim is to have a world-class, in-house technology capability that will underpin the next chapter of our
		success over the next 15 years. And you can be a part of it!</p>
	<h2>Gold</h2>
	{% for sponsor in page.gold_sponsors %}
	<img class="sponsorImg" src="{{sponsor.image}}" alt="{{sponsor.name}}" />
	{% endfor %}
	<h2>Silver</h2>
	{% for sponsor in page.silver_sponsors %}
	<img class="sponsorImg" src="{{sponsor.image}}" alt="{{sponsor.name}}" />
	{% endfor %}
	<h2>Bronze</h2>
	{% for sponsor in page.bronze_sponsors %}
	<img class="sponsorImg" src="{{sponsor.image}}" alt="{{sponsor.name}}" />
	{% endfor %}
</div>