<header class="site-header" id="site-header" class="{% if page.title == 'Home' %}header-transparent{% endif %}">
    {% include mobile_nav.html %}
    <a href="{{ '/' | relative_url }}" title="WIRED Home" class="logo-link opaque-on-hover" {% if page.title == "Home" %} data-force-opaque {% endif %}>
        <img alt="WIRED" height="24" src="assets/images/logoWhite.png" width="100">
    </a>
    <nav class="nav-site">
        <ul>
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for node in sorted_pages %}
                {% if node.order >= 1 %}
                    <li>
                        <a href="{{ node.url | relative_url }}" class="show-active" {% if page.url == node.url %} data-active {%endif %} data-content="{{node.title}}">{{node.title}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <nav class="nav-social">
        <ul>
            <li>
                {% include social_icon.html href="http://facebook.com/WiredMonash" title="WIRED Facebook" img_alt="Facebook" img_src="assets/images/icons/social/logo-facebook.svg" %}
            </li>
            <li>
                {% include social_icon.html href="https://discord.gg/WNUDsjQ" title="WIRED Discord" img_alt="Discord" img_src="assets/images/icons/social/logo-discord.svg" %}
            </li>
            <li>
                {% include social_icon.html href="https://www.instagram.com/wiredmonash/" title="WIRED Instagram" img_alt="Instagram" img_src="assets/images/icons/social/logo-instagram.svg" %}
            </li>
        </ul>
    </nav>
</header>