<header id="site-header" class="{% if page.title == "Home" %}header-transparent{% endif %}">
    <nav>
        <a href="/" class="logo-link {% if page.title == "Home" %}fade-in{% endif %}"><img
                src="assets/images/logoWhite.png" alt="WIRED" height="40"></a>
        <a href="/join">Join Us</a>
        <a href="/events">Events</a>
        <a href="/discord">Discord</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
<script type="text/javascript" src="assets/scripts/header.js">
</script>
{% if page.title == "Home" %}
<script src="assets/scripts/headerTransparent.js"></script>
{% endif %}