@import "shared";

footer {
    background-color: #333333;
    bottom: -1;
    left: 0;
    position: sticky;
    display: flex;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
  }
  
  .footer-content {
    vertical-align: top;
    color: #bababa;
  }

  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em $gutter-padding 2em;
  }

  .footer-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: left;
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em $gutter-padding 2em;
  }

  .footer-col1 {
    text-align: left;
    vertical-align: top;
    align-items: top;
    margin: 0 0 0 0;
    width: 35%;
    padding: 0% 2% 0% 0%;
    margin-right: 10%;
  }

  .footer-col2 {
    text-align: left;
    vertical-align: top;
    margin: 0 3% 0 0;
    padding: 0% 2% 0% 0%;
    width: 25%;
  }

  .footer-col3 {
    text-align: left;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 0% 2% 0% 0%;
    width: 25%;
  }
  
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-header {
    font-weight: bold;
    margin: 0;
    vertical-align: top;
    letter-spacing: 0.8pt;
    font-size: 0.75em;
    text-transform: uppercase; 
  }
  
  .footer-link {
    // font-size: 0.75em;
    padding: 0 0px 0 0;
  }
  
  a.footer-link:link, a.footer-link:visited {
    color: #bababa;
    text-decoration: none;
  }
  
  a.footer-link:hover, a.footer-link:visited:hover {
    color: #ffffff;
  }
  
  .connect-img {
    margin: 0px 2px -4px 2px;
    width: 16px;
    filter: grayscale(100%) brightness(0) invert(80%);
  }

  .connect-img:hover, .connect-img:visited:hover {
    margin: 0px 2px -4px 2px;
    width: 16px;
    filter: grayscale(100%) brightness(0) invert(100%);
  }
  
  .footer-paragraph {
    font-size: 0.75em;
    // padding: 0;
    vertical-align: top;
    // width: 150px;
    word-wrap: normal;
  }