@import "shared";

@mixin header-vertical-margins {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

$active-font-weight: 800;
$social-icon-size: 1.5rem;

/* Common */
#site-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  min-height: 3rem;
  padding: 0.25rem $gutter-padding;
  background-color: darken($wired-purple, 2%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#site-header.header-hidden {
  transform: translateY(-100%);
}

#site-header.header-transparent {
  background-color: transparent;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

header a {
  color: #ddd;
  text-decoration: none;
  transition: opacity 0.2s, transform 0.2s;
  will-change: transform;
  font-weight: 600;
}

header a:hover,
header a:focus,
header a:active {
  opacity: 0.8;
}

header a:hover {
  transform: scale(1.05);
}

header a:active {
  transform: scale(0.95);
  outline: none;
}

header a.page-active {
  font-weight: $active-font-weight;
  color: #fff;
  border: 3px white;
}

// Reserve width for bold text
header a::after {
  display: block;
  content: attr(data-content);
  font-weight: $active-font-weight;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

nav li {
  display: flex;
}

// Logo styles
a.logo-link {
  @include header-vertical-margins;
  max-width: 7.5rem;
  height: $social-icon-size;
  text-align: left;
}

a.logo-link > img {
  height: $social-icon-size;
}

// Internal site links
.nav-site {
  flex-grow: 1;
  flex-basis: initial;
}

.nav-site ul {
  justify-content: center;
}

.nav-site a {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  padding: 0 1rem;
  white-space: nowrap;
}

// Social links
.nav-social {
  @include header-vertical-margins;
  margin-left: auto;
}

.nav-social ul {
  justify-content: flex-end;
}

.nav-social a {
  margin-left: 0.75rem;
  height: $social-icon-size;
}

.nav-social img {
  width: $social-icon-size;
  height: $social-icon-size;
  // Make the images white using a CSS filter
  filter: grayscale(100%) brightness(0) invert(100%);
}

/* Mobile */
@media only screen and (max-width: 480px) {
  a.logo-link {
    flex-grow: 0;
    width: 100%;
  }

  .nav-site ul {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  // Push site nav links to second row
  .nav-site {
    order: 2;
  }
}
