@import "shared";
@import "motion";

/* Home Page */
#particles-js {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $wired-purple;
  position: fixed;
  z-index: -1;
}

.landing-message {
  @include fade-in(4s);
  position: absolute;
  /* Position this in centre of parent */
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of translateX(-50%) and translateY(-50%) */

  color: #fff;
  font-weight: 800;
  font-size: 4rem;
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  opacity: 0.9;
}

.landing-message span {
  text-align: center;
}

.landing-message img {
  height: 1.5em;
  width: auto;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .landing-message {
    font-size: 3rem;
  }
}
