@import "shared";
@import "motion";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Fix content jumping issue */
  overflow-y: scroll;
  height: 100%;
}

body {
  font-family: $wired-font-family;
  margin: 0;
  padding: 0;
  height: 100%;
  // font-size: 16px;
}

.page-container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #a23db2;
}

.content {
  flex-grow: 1;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: $gutter-padding;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.sponsorImg {
  height: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.6;
}

.membershipPerks {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

.membershipPerks img {
  width: 100%;
}

footer {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.8;
  padding: 0 $gutter-padding 1rem;
}

.committee-grid {
  display: grid;
  width: 100%;
  /* Prevent vertical gaps */
  line-height: 0;
  column-count: 5;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

.committee-card {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.committee-text {
  padding: 0.5rem;
}

.committee-name {
  margin-bottom: 0.5rem;
  color: #232323;
}

.committee-title {
  line-height: 2;
}

.committee-image {
  object-fit: contain;
  height: 16rem;
}
