$gutter-padding: min(2rem, 6vw);
$wired-purple: #6e297e;
$wired-font-family: "Open Sans", "Avenir Next", Avenir, "Segoe UI",
  "Helvetica Neue", Helvetica, Arial, sans-serif;

@function grid-auto-resize($min-size) {
  @return repeat(auto-fit, minmax($min-size, 1fr));
}

@import "_mq";
