$gutter-padding: min(2rem, 6vw);
$wired-purple: #6e297e;
$body-font-family: "Nunito Sans", "Avenir Next", Avenir, "Century Gothic",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-family: "Work Sans", "Avenir Next", Avenir, "Century Gothic",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
