---
---

.committee-grid {
  display: grid;
  width: 100%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

.committee-card {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.committee-image {
  object-fit: contain;
  height: 16rem;
  width: 100%;
}

.committee-text {
  padding: 1rem;
  color: #232323;
}

.committee-name {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.committee-title {
  margin: 0;
}
