---
---
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}
.header img {
    float: left;
    width: 40px;
    position: relative;
    right: 10px;
    top: 15px;
    // height: 100px;
    // background: #555;
}