---
---

@import "shared";

.membershipPerks {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: grid-auto-resize(320px);
  justify-items: center;
}

.membershipPerks > * {
  max-width: 100%;
}
.membershipPerks img {
  width: 100%;
}

@include media-max-sm {
  .membershipPerks {
    grid-template-columns: grid-auto-resize(240px);
  }
}
