@import "motion.css";

body {
	margin: 0;
}

* {
	font-family: Futura, "Avenir Next",Avenir,"Century Gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15pt;
}

a {
	color: #a23db2;
}

img#title {
	-webkit-animation: titleFadeIn 4.5s;
	-moz-animation: titleFadeInIn 4.5s;
	-o-animation: titleFadeIn 4.5s;
	animation: titleFadeIn 4.5s;
	position: absolute;
	top: 0;
	width: 40%;
	height: auto;
}

#homeNav {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	height: 50px;
	max-width: 60%;
	-webkit-animation: titleFadeIn 4.5s;
	-moz-animation: titleFadeInIn 4.5s;
	-o-animation: titleFadeIn 4.5s;
	animation: titleFadeIn 4.5s;
}

#homeNav > li {
	display: inline;
}

#homeNav > li > a {
	color: white;
	margin: 10pt;
	text-decoration: none;
	font-weight: bold;
	font-size: 15pt;
}

#nav {
	height: 60px;
	background-color: #6e297e;
}

#logo {
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
}

#nav > table > tbody > tr > td > ul {
	position: absolute;
	right: 0;
	margin: 0;
	top: 30px;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#nav > table > tbody > tr > td > ul > li {
	display: inline;
	margin: 0 15px 0 15px;
}

#nav > table > tbody > tr > td > ul > li > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20pt;
}

#contentBox {
	background-color: #fff;
	padding: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	min-height: 100%;
}

#contentBoxSecondary {
	padding: 50px;
}

.sponsorImg {
	height: 50px;
	margin: 20px;
}

h2 {
	font-size: 30pt;
}

h3 {
	font-size: 25pt;
}

#membershipPerks {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#membershipPerks > tbody > tr > td > h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

#membershipPerks > tbody > tr > td > p {
	margin-top: 0;
	margin-bottom: 30px;
}

#particles-js {
	width: 100%;
	height: 100%;
	background-color: #6e297e;
	position: fixed;
}

#footer {
	position: absolute;
	bottom: 0; width: 100%;
	text-align: center;
	font-size: 8pt;
	z-index: 1;
	left: 0;
	right: 0;
}

#footer > a {
	font-size: 8pt;
}

/* Mobile */
@media only screen and (max-width: 480pt) {
	p, a, li {
		font-size: 15pt;
	}

	img#title {
		margin-top: 50%;
		width: 100%;
	}

	#homeNav {
		top: 0;
		max-width: 100%;
	}

	#membershipPerks {
		width: 100%;
	}

	#membershipPerks > tbody > tr > td {
		display: block;
	}

	#membershipPerks > tbody > tr > td > img {
		display: block;
		width: 100%;
	}

	h2 {
		font-size: 25pt;
	}

	h3 {
		font-size: 20pt;
	}

	#nav {
		height: 80px;
	}

	#nav > table > tbody > tr > td > a {
		display: none;
	}

	#nav > table > tbody > tr > td > ul {
		margin-top: 10px;
	}

	#nav > table > tbody > tr > td > ul > li {
		margin: 15px;
	}

	#nav > table > tbody > tr > td > ul > li > a {
		font-size: 15pt;
	}

	#homeImg {
		display: none;
	}
}