---
---

.committee-grid {
  display: grid;
  width: 100%;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  justify-items: center;
  padding: 25px;
}

.committee-card {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  align-items: center;
  text-align: center;
}

.committee-image {
  object-fit: contain;
  height: 16em;
  width: 100%;
}

.committee-text {
  padding: 1em;
  color: #232323;
}

.committee-name {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5;
}

.committee-title {
  margin: 0;
  color: rgb(110, 110, 110);
}

.image-cropper {
  width: 100%;
  height: 16em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
